@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-800 text-white scrollbar-none; /*scrollbar-thin scrollbar-thumb-dark-blue scrollbar-track-gray-800;*/
  }
}

#drag{
  -webkit-app-region: drag;
}